[Unit]
Description=Configure adhoc network on boot
After=network.target
Wants=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/nvidia/Robot/wifi/setup.sh

[Install]
WantedBy=multi-user.target
